@charset "utf-8";
@import "variable";
.news{
    margin-top: $headerHeight;
    overflow-x: hidden;
    img{
        width: 100%;
        display: block;
    }
    .hd{
        margin-bottom: -40px;
        padding:0 10px;
        position:relative;
        height: 40px;
        >ul{
            position: absolute;
            bottom: .5rem;
            overflow: hidden;
            left: 50%;
            margin-left: -6%;
            width: 100%;
            height: 40px;
            >li{
                float:left;
                color:#666;
                width: .2rem;
                height: .2rem;
                @include border-radius(100%);
                background-color: #121216;
                border: 2px #434c58 solid;
                margin: 0.05rem;
                &.on{
                    border: 2px #434c58 solid;
                    //border-bottom-color:#017ea7;
                    background-color:#06c2ff;
                }
            }
        }
    }
}
.marquee{
    overflow: hidden;
    line-height: .7rem;
    height: .7rem;
    position: relative;
    background-color: #fff;
    >*{
        display: inline-block;
    }
    >.news_title{
        position: absolute;
        top: 0;
        left: 0;
        line-height: .6rem;
        height: .7rem;
        padding: 0 15px 0 10px;
        z-index: 1;
        background-color: #fff;
        // @include respond-to('sm') {
        //     line-height: 32px;
        //     height: 32px;
        // }
        >span{
            display: inline-block;
            line-height: .7rem;
            height: .7rem;
            vertical-align: middle;
        }
    }
    >.news_marque{
        line-height: .7rem;
        height: .7rem;
        overflow: hidden;
        // @include respond-to('sm') {
        //     line-height: 32px;
        //     height: 32px;
        // }
    }
}
.tempWrap { width: 100% !important; }
.sys-notice {
    height: .7rem;
    line-height: .7rem;
    color: $basetext;
    //background-color: rgba(#11161c,0.8);
    overflow: hidden;
    position: relative;
    width: 100%;
    //margin-left: 24%;
    // @include respond-to('sm') {
    //     height: 32px;
    //     line-height: 32px;
    // }
    ul {
        margin: 0;
        line-height: .7rem;
        height: .7rem;
        li {
            list-style: none;
            display: inline-block;
            line-height: .7rem;
            height: .7rem;
            .create-time { list-style: none; margin-left: 20px; }
        }
     }
}
#index_content{
    &.content{
        //padding-top: .1rem;
        margin-top: 0;
        padding-bottom: .5rem;
        >section{
            h3{
                text-align: left;
                >img{
                    width: 3.25rem;
                }
            }
        }
        ul{
            overflow: hidden;
            max-width: 95%;
            margin: 0 auto;
            text-align: left;
            font-size: 0;
            >li{
                display: inline-block;
                font-size: .35rem;
                text-align: center;
                width: 30%;
            }
        }
        >.hotgame_area{
            margin-top: 0.24rem;
            background-color: #fff;
            ul{
                margin: 0px;
                max-width: 100%;
                >li{
                    //border-bottom: 1px solid rgba(238, 238, 238, 0.62);
                    border-bottom:1px solid $borderLight;
                    border-right:1px solid $borderLight;
                    border-top:1px solid $borderLight;
                    margin-bottom: -1px;
                    min-height: 2.6rem;
                    height: auto;
                    padding-bottom: .2rem;
                    width: calc( 3.3333rem - 1px );
                    background-repeat: no-repeat;
                    &:nth-child(3n+3){
                        border-right: none;
                    }
                    >p{
                        font-weight: 700;
                    }
                    &:hover,&:focus,&.active{
                        background-color: $borderLight;
                    }
                }
            }
        }
        .cooper_area{
            margin-top: 0.24rem;
            margin-bottom: 1.4rem;
            background-color: #fff;
        }
        .cooper{
            width: 100%;
            margin: 0 auto;
            padding: .3rem 0;
            position: relative;
            // &:after{
            //     @include pseudo;
            //     @include background-image ('bottom_line.png',0,transparent);
            //     height: .5rem;
            //     width: 100%;
            //     bottom: -.15rem;
            //     right: -30%;
            //     top:inherit;
            //     left: inherit;
            // }
            >h3{
                margin-top: .1rem;
            }
            >ul{
                text-align: center;
                margin: 0 auto;
                width: 100%;
                margin-top: .5rem;
                >li{
                    //@include background-image ('cooper_c_bg.png',0,transparent);
                    width: 20%;
                    height: 2rem;
                    margin: 0 .5rem;
                    div.icon{
                        width: 1.266rem;
                        height: 1.266rem;
                        background-color: $colorMain;
                        border-radius: 50%;
                        margin: 0px auto;
                    }
                    a{
                        @include background-image ('other_link.png',0,transparent);
                        width: 1.266rem;
                        height: 1.266rem;
                        display: block;
                        line-height: 1.266rem;
                        &::after{
                            @include pseudo;
                            width: 100%;
                            text-align: center;
                            top: 1.266rem;
                            line-height: 2em;
                        }
                        &.icon_intro{
                            background-position-y: top;
                            &::after{
                                content: '新手教程';
                            }
                        }
                        &.icon_agent{
                            background-position-y: middle;
                            &::after{
                                content: '代理加盟';
                            }
                        }
                        &.icon_about{
                            background-position-y: bottom;
                            &::after{
                                content: '关于我们';
                            }
                        }
                    }
                }
            }
        }
    }
}
.other_link{
    font-size: .35rem;
    >a{
        display: inline-block;
        border-left: 1px solid $normalblue;
        margin: 0.2rem 0;
        padding: 0 .5rem;
        &:first-child{
            border-left: none;
        }
        &.text-yellow{
            color: $yellow;
            margin: 0;
            padding: 0;
            border-left: none;
            text-decoration: underline !important;
        }
    }
}
.so-con .so-left .so-left-con .so-l-c-con{
    &.indexside{
        ul{
            margin-top: .5rem;
        }
        li{
            background-image: none;
            height: 1.5rem;
            line-height: 1.5rem;
            vertical-align: middle;
            // border-right:1px solid $borderLight;
            //border-bottom:1px solid #dde2e6;
            border:none;
            border-right: 1px;
            width: 3.1rem;
            // margin: 0.3rem 0.2rem;
            &:nth-child(even){
                border-right:none;
            }
            &:nth-child(odd){
                padding-right: .2rem;
            }
            @include respond-to('ss'){
                width: 3.2rem;
            }
            .icon{
                float: left;
            }
        }
    }
}

.hotgame_area{
    .badge{
        background: none;
        width: 2.8rem;
        @include border-radius(0);
        height: 1.8rem;
        margin-top: .3rem;
        >img{
            width: 1.452rem;
            height: 1.452rem;
            padding-top: 0;
        }
        &:before{
            display: none;
        }
    }
}
.countdown{
    line-height: .5rem;
}
.all_lottery{
    >li{
        .badge{
            width: 2.5rem;
            height: 2.35rem;
            margin-top: 0;
            background: none;
            &:before{
                display: none;
            }
        }
        >p{
            line-height: .7rem;
        }
    }
}
.last-open-num{
    >ul{
        height: 1.3rem;
        width: 100%;
        display: block;
    }
}