@charset "UTF-8";
/* 用法 @include respond-to('尺寸(ex:sm,xs..)')*/
.pk10_clear:after {
  content: '';
  display: table;
  clear: both; }

#pk10 .so-m-t-left {
  width: 2.5rem; }
  #pk10 .so-m-t-left div:first-child {
    width: 2.3rem; }
#pk10 .so-m-t-right {
  width: 7.5rem; }
#pk10 .pk10_top_number li {
  background: none;
  float: left;
  width: 0.65rem;
  height: auto;
  margin-right: 0.07rem; }
  #pk10 .pk10_top_number li:last-child {
    margin-right: 0px; }
#pk10 .pk10_top_detail {
  margin-left: 0.1rem; }
  #pk10 .pk10_top_detail li {
    font-size: 0.3rem;
    width: 0.64rem;
    margin-top: 0.07rem; }
#pk10 .so-main-down li:first-child p {
  width: 2.3rem;
  margin-right: 0.12rem; }
#pk10 .select-li {
  height: auto;
  padding-top: 0.3rem; }
#pk10 .pk10_panel {
  background: none;
  height: auto;
  position: relative; }
  #pk10 .pk10_panel h2 {
    line-height: 0.9rem; }
  #pk10 .pk10_panel > div {
    padding: 3% 3% 3.5%;
    height: auto;
    margin: 0px auto; }
    #pk10 .pk10_panel > div p {
      margin: 2% 1.8% 2% 2.2%; }
      #pk10 .pk10_panel > div p span:last-child {
        padding-left: 0rem; }
    #pk10 .pk10_panel > div:after {
      content: '';
      display: table;
      clear: both; }
  #pk10 .pk10_panel:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    clear: both;
    height: 0.4rem;
    margin-top: -0.4rem; }
  #pk10 .pk10_panel .pk10_ball {
    transform: scale(0.9); }
#pk10 .play_th ul {
  margin-top: 0.05rem; }
  #pk10 .play_th ul li {
    width: 0.5rem;
    margin-right: 0.12rem;
    font-size: 0.3rem;
    line-height: 1.3em; }
#pk10 .lo_ball {
  margin-left: 0;
  margin-top: 0.4rem; }
  #pk10 .lo_ball li {
    background: none;
    width: 0.792rem;
    height: 0.72rem; }
    #pk10 .lo_ball li span {
      display: block;
      transform: scale(0.9); }
#pk10 .ds_long .prod > div {
  width: 4rem; }
  #pk10 .ds_long .prod > div:last-child {
    width: auto; }
#pk10 .ds_long .lo_ball {
  margin: 0px; }
  #pk10 .ds_long .lo_ball li {
    font-size: 0.5rem;
    width: auto; }
  #pk10 .ds_long .lo_ball .pk10_ball {
    transform: scale(1.2);
    margin-top: 0.25rem; }
#pk10 .tab_mid {
  white-space: nowrap;
  overflow-x: scroll; }

.pk10_item ul li .pk10_panel {
  width: 7rem;
  height: 5rem;
  text-align: center;
  margin: auto; }
  .pk10_item ul li .pk10_panel > h2 {
    color: #ffffff;
    font-size: .4rem;
    line-height: 1.12rem; }
  .pk10_item ul li .pk10_panel > div {
    padding: 3%;
    width: 94%;
    height: 3.1rem; }
    .pk10_item ul li .pk10_panel > div p {
      float: left;
      border: solid 0.01rem #277ca5;
      height: 0.85rem;
      width: 2.96rem;
      margin-bottom: 4%;
      margin-left: 3.5%; }
      .pk10_item ul li .pk10_panel > div p > span {
        color: #d7e8f0;
        font-size: .34rem;
        display: block;
        float: left;
        padding-left: .25rem;
        padding-right: .2rem;
        line-height: 0.9rem; }
        .pk10_item ul li .pk10_panel > div p > span:last-child {
          float: right; }
        .pk10_item ul li .pk10_panel > div p > span .pk10_ball {
          margin-top: -0.1rem; }
    .pk10_item ul li .pk10_panel > div p.active {
      background: url(/static/images/content/changkuang.png) no-repeat;
      background-size: 100% 100%;
      background-position: -0.01rem;
      border: solid 0.01rem #42371c; }
      .pk10_item ul li .pk10_panel > div p.active > span:first-child {
        color: #010101; }
      .pk10_item ul li .pk10_panel > div p.active > span:last-child {
        color: #ab0000; }
.pk10_item ul li .so-con-span-short {
  width: 2.96rem !important;
  background-size: 3.06rem 0.9rem; }

/*# sourceMappingURL=pk10.css.map */
