@charset "utf-8";
@import "variable";

.pk10_clear:after{
    content: '';
    display: table;
    clear: both;
}
#pk10{
    .so-m-t-left{
        width: 2.5rem;
        div:first-child{
            width: 2.3rem;
        }
    }
    .so-m-t-right{
        width: 7.5rem;
    }
    .pk10_top_number{
        li{
            background: none;
            float: left;
            width: 0.65rem;
            height: auto;
            margin-right: 0.07rem;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    .pk10_top_detail{
        margin-left: 0.1rem;
        li{
            font-size: 0.3rem;
            width: 0.64rem;
            // line-height: 1.3em;
            margin-top: 0.07rem;
        }
    }
    .so-main-down{
        li{
            &:first-child{
                p{
                    width: 2.3rem;
                    margin-right: 0.12rem;
                }
            }
            // i{
            //     margin-top: 0.18rem;
            //     margin-left: 0;
            //     vertical-align: middle;
            // }
            // a{
            //     margin-top: 0.15rem;
            //     margin-right: 0.1rem;
            // }
        }
    }
    //重寫面版
    .select-li{
        height: auto;
        padding-top: 0.3rem;
    }
    .pk10_panel{
        background: none;
        height: auto;
        position: relative;
        h2{
            line-height: 0.9rem;
        }
        > div{
            padding: 3% 3% 3.5%;
            height: auto;
            margin: 0px auto;
            p{
                margin: 2% 1.8% 2% 2.2%;
                span:last-child{
                    padding-left: 0rem;
                }
            }
            &:after{
                content: '';
                display: table;
                clear: both;
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0px;
            clear: both;
            height: 0.4rem;
            margin-top: -0.4rem;
        }
        .pk10_ball{
            transform: scale(0.9);
        }
    }
    // 投注紀錄
    .play_th {
        ul{
            margin-top: 0.05rem;
            li{
                width: 0.5rem;
                margin-right: 0.12rem;
                font-size: 0.3rem;
                line-height: 1.3em;
            }
        }
    }
    .lo_ball{
        margin-left: 0;
        margin-top: 0.4rem;
        li{
            background: none;
            width: 0.792rem;
            height: 0.72rem;
            span{
                display: block;
                transform: scale(0.9);
            }
        }
    }
    // 雙面長龍
    .ds_long{
        .prod>div{
            width: 4rem;
            &:last-child{
                width: auto;
            }
        }
        .lo_ball{
            margin: 0px;
            li{
                font-size: 0.5rem;
                width: auto;
            }
            .pk10_ball{
                transform: scale(1.2);
                margin-top: 0.25rem;
            }
        }
    }
    .tab_mid{
        white-space: nowrap;
        overflow-x: scroll;
    }
}

.pk10_item ul li {
    .pk10_panel{
        width: 7rem;
        height: 5rem;
        text-align: center;
        margin: auto;
        > h2 {
            color: #ffffff;
            font-size: .4rem;
            line-height: 1.12rem;
        }
        > div {
            padding: 3%;
            width: 94%;
            height: 3.1rem;
            p {
                float: left;
                border: solid 0.01rem #277ca5;
                height: 0.85rem;
                width: 2.96rem;
                margin-bottom: 4%;
                margin-left: 3.5%;
                // display: none;
                >span {
                    color: $bluetext;
                    font-size: .34rem;
                    display: block;
                    float: left;
                    padding-left: .25rem;
                    padding-right: .2rem;
                    line-height: 0.9rem;
                    &:last-child {
                        float: right;
                    }
                    .pk10_ball{
                        margin-top: -0.1rem;
                    }
                }
            }
            p.active {
                background: url(/static/images/content/changkuang.png) no-repeat;
                background-size: 100% 100%;
                background-position: -0.01rem;
                border: solid 0.01rem #42371c;
                >span {
                    &:first-child {
                        color: #010101;
                    }
                    &:last-child {
                        color: #ab0000;
                    }
                }
            }
        }
    }
    .so-con-span-short{
        width: 2.96rem !important;
        background-size: 3.06rem 0.9rem;
    }
}
